HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.env
*.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/logs

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

best_cars_report.pdf
daily_bookings_report.pdf
most_rented_cars_report.pdf
owner_earnings_report.pdf
top_renters_report.pdf

# Ignore reports package
src/main/java/com/example/urbanRides/Reports/